div.prospectus {
  position: relative;
  height: 1500px;
}

div.prospectusImage {
	position: absolute;
	left: 5px;
	top: 20px;
	width: 310px;
}

div.prospectusImage img {
	width: 300px;
}

div.prospectusSpectrum {
	position: absolute;
	left: 320px;
	top: 20px;
	height: 310px;
}

div.prospectusSpectrum img {
	height: 300px;
}


div.prospectusInfo {
	position: absolute;
	left: 0px;
	top: 340px;
	width: 310px;
	height: 210px;
}

div.prospectusInfo table {
	background: #000000;
	color: #EEEEEE;
	border:1px solid #000000;
	text-align: left;
	border-collapse:separate;
	border-spacing: 5px 0px;
}

div.prospectusLinks {
	position: absolute;
	left: 320px;
	top: 340px;
	width: 400px;
}

div.prospectusLinks table {
	background: #000000;
	color: #EEEEEE;
	border:1px solid #000000;
	text-align: left;
	border-collapse:separate;
	border-spacing: 5px 0px;
}

div.prospectusComments {
	position: absolute;
	text-align: left;
	left: 320px;
	top: 395px;
	margin: 0px;
	border: 0px;
	padding: 0px;
	width: 450px;
	height: 95px;
	line-height: 6px;
	overflow: auto;
}

div.prospectusBands {
	position: absolute;
	left: 0px;
	top: 500px;
	width: 810px;
	height: 120px;
}

div.prospectusBands img {
	width: 130px;
}

div.prospectusBands thead {
	color: #EEEE00;
	text-align: center;
}
