table.getForm {
	background: #000000;
	color: #EEEEEE;
	border:1px solid #000000;
	-webkit-border-radius: 0px;
	-webkit-box-shadow: 0px 0px 0px #000; padding: 2px 2px 2px 6px;
	text-align: left;
	border-collapse:separate;
	border-spacing: 0px 0px;
}

table.atlasTable {
	background: #000000;
	color: #EEEEEE;
	border:1px solid #000000;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 3px 3px 3px #000; padding: 2px 2px 2px 6px;
	text-align: center;
	border-collapse:separate;
	border-spacing: 3px 8px;
}

table.getForm td {
	padding: 2px;
	vertical-align: top;
}

table.getForm  td.colored
{
	background-color:#000000;
	border:0px;
	padding:3px;
	font-weight: bold;
}
